//! COLORS
$dark-blue: #1E2640;
$white: #F9F0FF;
$coral: #F37B83;
$light-grey: #DDDDDD;
$blue: #0b223f;






//! BREAKPOINTS
$bp-sm: 575.98px;
$bp-md: 767.98px;
$bp-lg: 991.98px;
$bp-xlg: 1199.98px;

